.button_cancel {
  background: none;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 16px;

  &:focus {
    border: none;
    outline: none;
  }

  z-index: 3;
}