.wrapper {
  background-color: #424242;
  display: flex;
  justify-content: space-around;
  font-family: var(--font-numbers);
  font-size: 18px;
  font-weight: 600;
}

.progress {

}

.profit {
  color: #64fd98;
}

.balance {

}