.LayoutWrapper {
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  height: 100px;
}

.backArrow {
  outline: none;
  background: none;
  border: none;
  margin-top: 33px;
  height: 22.25px;
}

.LeftOpponent {
  margin-top: 15px;
  margin-left: 20px;
}

.tokens {
  color: #00DEF5;
  font-weight: 600;
  z-index: 1;
  position: absolute;
  font-size: 24px;
  left: 50vw;
  transform: translateX(-50%);
  top: 27px;
}

.totalRightAnswers {
  color: #E2E200;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 3px;
  left: -63px;
}

.RightButton {
  position: relative;
}


// Правая кнопка
.RightButton {
}

.hex_container {
  top: 61px;
  left: -47px;
  position: absolute;
}

.hexBig {
  position: absolute;
  top: -53px;
  left: -71px;
}

.hexSmall {
  position: absolute;
  top: 0;
  left: 0;
}

.hex {
  position: absolute;
  width: 80px;
  height: 80px;
}

.hex img {
  object-fit: contain;
}

.hex_text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #ccc;
  font-style: italic;
  font-weight: 900;
}

.avatar {

}


.hex_iq_container {
  top: 15px;
  left: 20px;
  position: absolute;
  z-index: 2;
}

.hex_iq_text {
  top: 12px;
  left: 24px;
  font-size: 32px;
  font-weight: bold;
  color: #cccccc;
  z-index: 3;
  font-style: italic;
}

.hex_iq_big {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
}

.hex_iq_small {
  position: absolute;
  top: -41px;
  left: 64px;
  height: 60px;
  width: 60px;
}

.hex_iq_text {
  position: absolute;
  top: 15px;
  left: 25px;
}

.margin_left {
  margin-left: 35px;
}