.Button {
  padding: 25px 30px;
  background: #00ffff;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
  font-size: 16px;
  width: 175px;
  height: 83px;
  z-index: 3;

  &:focus {
    outline: none;
  }

  -webkit-tap-highlight-color: transparent
}

.white {
  background: #ffffff;
  width: 150px;
}


.isPUMP {
  font-weight: 900;

}

.pink {
  background: #FD0065FF;
}
