.wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 80px;
  height: 80px;
  background-image: url("../../assets/transparent_hexagon.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  img.heal {
    position: absolute;
    top: 26px;
    left: 24px;
    width: 40%;
  }

  img.next {
    position: absolute;
    top: 32px;
    left: 26px;
    width: 40%;
  }

  img.shield {
    position: absolute;
    top: 26px;
    left: 26px;
    width: 35%;

  }
}

.wrapper.active {
  background-image: url("../../assets/transparent_hexagon_active.svg");
}