.PageWrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--page-background-color);

  display: flex;
  justify-content: center;
  //align-items: center;
}
.GameContainer {
  width: 100vw;
  padding-bottom: 90px;
  align-items: center;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.wrapper{
  position: relative;
  margin-top: 115px;
  font-size: 72px;
  line-height: 0.7;
  font-weight: 900;
}

.glow{
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50%;
  width: 457px;
  height: 47px;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgb(0, 255, 255) -17%, transparent 31%);
  pointer-events: none;
  filter: blur(11px);
}

.you{
  position: relative;
  z-index: 1;
}
.win{
  position: relative;
  z-index: 3;
}

.background_letters{
  position: absolute;
  color: aqua;
  filter: blur(9px);
  top: -7%;
  left: 50%;
  line-height: 0.5;
  font-size: 108px;
  transform: translateX(-50%);

}
.btn{
  margin-top: 64px;
  padding: 20px 48px;
  font-size: 16px;
  color: black;
  font-weight: 900;
  background-color: #00CCCC;
  box-shadow: 0 0 71px 8px #00CCCC;
}
