.codeInput{
  padding: 10px 24px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #4C4C4C;
  width: 135px;
  font-family: 'SegoeUI', monospace; /* шрифт */
  font-size: 32px;                       /* размер текста */
  color: #ffffff;                            /* цвет текста */
  font-weight: bold;                    /* жирность */
  text-transform: uppercase;
  letter-spacing: 5px;
}