.PageWrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--page-background-color);

  display: flex;
  justify-content: center;
  //align-items: center;
}

.GameContainer {

  width: 100vw;
  padding-bottom: 90px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  //background-image: url("../../assets/chests_background.jpg");
  background-image: url("../../assets/room.png");
  position: relative;
  height: 100vh; /* или любой другой размер */

  background-color: #000; /* запасной фон */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; /* сохраняет пропорции */
}

.wrapper {
  width: 100%;
  height: 100%;
}

.margin_top {
  margin-top: 20px;
}

.chests_container {
  height: 200px;
  position: relative;
  width: 360px;
  margin-top: 10%; /* По умолчанию для больших экранов */
  margin-right: auto;
  margin-left: auto;
}

/* Для экранов шириной 375px и меньше */
@media (max-width: 375px) {
  .chests_container {
    margin-top: 5%;
  }
}

.chest_1 {
  position: absolute;
  top: -20px;
  left: -15px;
}

.chest_2 {
  position: absolute;
  top: 225px;
  left: -15px;
}

.chest_3 {
  position: absolute;
  top: 100px;
  left: 140px
}

.chest {

  height: 200px;
}