.PageWrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--page-background-color);
  display: flex;
  justify-content: center;
}

.GameContainer {
  width: 1920px;
  background-image: url('./background_brain_extended.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //background-size: 80% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.logoWrapper {
  margin-top: 40px;
  font-size: 18px;
}

.buttonWrapper {
  margin-top: 360px;
}