.PageWrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--page-background-color);

  display: flex;
  justify-content: center;
  //align-items: center;
}

.GameContainer {

  width: 1920px;
  //height: 667px;
  background-image: url('./background_brain.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  //border-radius: 16px;

  // адаптация под мобильные экраны
  @media (max-width: 400px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.logoWrapper{
  margin-top: 40px;
}

.buttonWrapper{
  margin-top: 360px;
}