.tournament_creation_settings_container {
  display: flex;
  //margin: 0 10px;
  position: relative;
  z-index: 3;
}

.header {
  font-weight: 900;
  margin-bottom: 15px;
}

.error_message {
  color: red;
  margin: 10px auto 0 auto;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
}

.difficult_header {
  margin-top: 25px;
  margin-bottom: 15px;
}

.difficult_wrapper {
  margin-bottom: 30px;
}
