.PageWrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--page-background-color);
  display: flex;
  justify-content: center;
}

.GameContainer {
  width: 1920px;
  background-color: #000000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.choose_opponent {
  z-index: 1;
  position: relative;
  margin-top: 80px;
}

.createTournamentButton {
  position: absolute;
  top: 160px;
  left: 90px;
  outline: none;
  border: none;
  box-shadow: 0 0 40px 1px #00ffff;
  background-color: #00ffff;
  color: black;
  font-weight: 400;
  border-radius: 100px;
  font-size: 15px;
  padding: 12px 35px;
}

// vs container
.vs_container {

  width: 320px;
  height: 170px;
  position: relative;
  margin: 100px auto 0 auto;
}

.avatar_right {
  transform: scaleX(-1);

  img {
    width: 175px;
  }

  top: 0;
  right: 0;
  position: absolute;
  filter: brightness(30%) blur(2px);
}

.avatar_left {
  img {
    width: 175px;
  }

  top: 0;
  left: 0;
  position: absolute;
}

.vs_text {
  top: 100px;
  left: 140px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  font-size: 32px;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  grid-template-rows: repeat(2, auto); /* 2 строки */
  gap: 16px; /* отступы между карточками */
  width: 316px;
  margin: 15px auto 0;
}

.create_task_text {
  margin: 40px auto 10px auto;
  width: 231px;
  font-weight: 400;
  font-size: 18px;
}

.numbers {
  line-height: 1.1;
  color: yellow;
  font-size: 55px;
  font-weight: 100;
  font-family: 'Teko', sans-serif;
}

.get_consulting_text {
  color: #00ffff;
  margin: 10px auto 0 auto;
  width: 230px;
  font-weight: 400;
  font-size: 16px;
}

.my_task {
  font-size: 14px;
  font-weight: 300;
  padding: 5px 10px;
  background-color: #6b6b6b;
  display: flex;
  margin: 0 10px;
  border-radius: 5px;
  justify-content: space-between;
}

.task_header {
  margin: 10px 0 15px 0;
  font-size: 18px;
}

.btn {
  background-color: #00def5;
  color: black;
  box-shadow: 0 0 58px -2px #00CCCC;
  padding: 17px 30px;
  border-radius: 36px;
  margin-bottom: 25px;

  &:focus {
    outline: none;
  }
}

.wrapper_task {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 10px;
  padding-bottom: 50px;
}

.my_task_text {
  font-weight: 400;
  font-size: 16px;

}

.active_users {
  margin-bottom: 30px;
}

.progress {
  font-size: 16px;
  font-weight: 400;
}