.opponent_card {
  z-index: 1;
  width: 100%; /* Изменено на 100% для адаптивности */
  max-width: 150px; /* Добавлен максимальный размер, равный текущему */
  height: 245px; /* Изменено для сохранения пропорций */
  //aspect-ratio: 150 / 225; /* Сохраняем пропорции 150x225 */
  position: relative;
  border-radius: 10px;
  background-color: #000000;
  overflow: hidden;
  padding: 45px 0 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accepted {
  background-color: #fff;
  color: #000000;
}

.running {
  background-color: #fd0065;
}

.opponent_card_label {
  width: 66.67%; /* 100px / 150px = 66.67% от ширины карточки */
  height: calc(50 / 225 * 100%); /* 50px относительно высоты карточки */
  position: absolute;
  top: calc(-20 / 225 * 100%); /* -25px относительно высоты карточки */
  left: 16.67%; /* 25px / 150px = 16.67% от ширины карточки */
  border-radius: 10px;
  background-color: #373737;
}

.opponent_coins {
  font-size: clamp(10px, 3vw, 14px); /* Адаптивный размер шрифта */
  font-weight: 600;
  margin-top: 25%; /* 27px относительно высоты лейбла */
  color: #00ffff;
}

.opponent_image {
  display: block;
  //margin: calc(65 / 225 * 100%) 16px 0 16px; /* 40px относительно высоты карточки */
  width: 100%; /* 100px / 150px = 66.67% от ширины карточки */
  max-width: 115px; /* Максимальный размер картинки */
  //margin: 0 auto;
}

.opponent_difficulty {
  margin: calc(10 / 225 * 100%) auto 0 auto; /* 10px относительно высоты карточки */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(7 / 225 * 100%); /* 7px относительно высоты карточки */
  width: 46.67%; /* 70px / 150px = 46.67% от ширины карточки */
}

.opponent_difficulty_stage {
  width: 31.43%; /* 22px / 70px = 31.43% от ширины контейнера */
  height: 71.43%; /* 5px / 7px = 71.43% от высоты контейнера */
  background-color: #606060;
  border-radius: 2px;
}

.active {
  background-color: #00ffff;
}

.text {
  font-size: clamp(14px, 2.5vw, 18px); /* Адаптивный размер шрифта */
}

.opponent_timer {
  margin-top: calc(10 / 225 * 100%); /* 10px относительно высоты карточки */
}

.time {
  font-size: clamp(16px, 3.5vw, 20px); /* Адаптивный размер шрифта */
}