.opponent_card{
  z-index: 1;
  width: 150px;
  height: 225px;
  position: relative;
  border-radius: 10px;
  background-color: #000000;
  overflow: hidden;

}
.opponent_card_label{
  width: 100px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: 25px;
  border-radius: 10px;
  background-color: #868686;
}
.opponent_coins{
  font-size: 12px;
  font-weight: 600;
  margin-top: 30px;
  color: #00ffff;
}
.opponent_image{
  display: block;
  margin: 40px auto 0 auto;
  width: 100px;
  //height: 195px;

}
.opponent_difficulty{
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7px;
  width: 70px;
}
.opponent_difficulty_stage{
  width: 22px;
  height: 5px;
  background-color: #606060;
  border-radius: 2px;
}
.active{
   background-color: #00ffff;
 }

.text{
  font-size: 10px;
}

.opponent_timer{
  margin-top: 10px;
}