.wrapper {
  display: flex;
  justify-content: center;
}

.prev {
  transform: scaleX(-1);
  width: 100px;
  margin-top: 130px;
  margin-bottom: 300px;
  margin-right: 30px;
}

.next {
  width: 100px;
  margin-top: 130px;
  margin-bottom: 300px;
  margin-left: 30px;
}

.image {
  width: 215px;
  z-index: 5;
}

.arrow_right {
}

.arrow_left {
}

.button {
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: transparent;
  }
}

.arrow {
  width: 14px;
}
