.LayoutWrapper{
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  padding-top: 15px;
}
.backArrow{
  outline: none;
  background: none;
  border: none;
  margin-top: 33px;
  height: 22.25px;
}
.LeftOpponent{

}
.reward{
  width: 120px;
}
.reward_amount{
  font-size: 20px;
  color: black;
  font-weight: 600;
  position: absolute;
  top: 10%;
  left: 30px;
}
.up_arrow{
  height: 9.25px;
}

.glow_green{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 25px;
  border-radius: 99px;
  box-shadow: 0 0 40px rgb(0, 253, 202);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.glow_pink{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 117px;

  height: 25px;
  border-radius: 99px;
  box-shadow: 0 0 40px rgb(253, 0, 101);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.reward_left{

}

.totalRightAnswers{
  color: #E2E200;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 3px;
  left: -63px;
}
.RightButton{
  position: relative;
}


// Правая кнопка
.RightButton{}
.hex_container{
  top: 61px;
  left: -47px;
  position: absolute;
}

.hexBig{
  position: absolute;
  top: -53px;
  left: -71px;
}
.hexSmall{
  position: absolute;
  top: 0;
  left: 0;
}
.hex {
  position: absolute;
  width: 80px;
  height: 80px;
}

.hex img {
  object-fit: contain;
}

.hex_text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #ccc;
  font-style: italic;
  font-weight: 900;
}
.avatar{

}



.hex_iq_container{
  top: 200px;
  left: 200px;
  position: absolute;
}
.hex_iq_big{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 80px;
}
.hex_iq_small{
  position: absolute;
  top: -41px;
  left: 64px;
  height: 60px;
  width: 60px;
}
.hex_iq_text {
  position: absolute;
}
.head_img{
  width: 110px;
}
.head_img_right{
  transform: rotateY(180deg);
}
.timer{
  font-size: 38px;
  font-family: 'Teko', sans-serif;
  color: yellow;
  margin-top: 70px;
}
.bet{
  position: relative;
  color: #00CCCC;
  font-size: 32px;
  font-weight: 900;
}
.small_bet{
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.big_bet{
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  filter: blur(6px);
}
.reward_amount_right{
  position: absolute;
  right: 30px;
  top: 3px;
  font-size: 20px;
  color: black;
  font-weight: 600;

}
.reward_container{
  position: relative;
}