.wrapper {
  margin-top: 130px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 48%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgb(255, 255, 255) -75%, transparent 100%);
    pointer-events: none;
    filter: blur(53px);
  }
}
.inputMoney{
  position: relative;
  z-index: 5;
  text-align: center;
  padding: 10px 24px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #989898;
  opacity: 0.8;
  width: 200px;
  font-family: 'Roboto', monospace; /* шрифт */
  font-size: 32px;                       /* размер текста */
  color: #ffffff;                            /* цвет текста */
  font-weight: bold;                    /* жирность */
  text-transform: uppercase;
  letter-spacing: 5px;
  &::placeholder {
    color: #ffffff; /* Цвет placeholder'а */
    opacity: 1;     /* Убирает прозрачность, если нужно */
  }
}
.max_min_val{
  margin-top: 8px;
  font-size: 18px;
  font-weight: 300;
  color: #EE797E;
  position: relative;
  z-index: 2;
}
.description{
  font-size: 16px;
  font-weight: 300;
  width: 200px;
  margin: 20px auto 0;
}
.address{
  color: #00FFFF;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
}
.btn{
  padding: 27px;
  font-size: 18px;
  margin-top: 50px;
  font-weight: 400;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  position: relative;
  z-index: 5;
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 81%;
    left: 50%;
    width: 107px;
    height: 80px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgb(255, 255, 255) 45px, transparent 100%);
    pointer-events: none;
    filter: blur(53px);
  }
}