.wrapper{
  display: flex;
  justify-content: center;
  background: #00ffff;
  color: black;
  font-weight: 1000;
  width: 100px;
  padding: 14px;
  border-radius: 30px;
  box-shadow: 0 0 48px #00ffff;
  margin: 0 auto;
}