.wrapper {
}
.label{
  color: #00b8b8;
  font-size: 12px;

  position: relative;
  top: 0px;
  left: 0px;
}
.current_lang{
  color: #b6b6b6;
  font-weight: 600;
  font-size: 14px;

  position: relative;
  top: 0px;
  right: 0px;
}