.wrapper {
  padding: 15px;
  border-radius: 5px;
  width: 130px;
  background-color: #333333;
  font-size: 12px;
  line-height: 0.99;
  height: 35px;
}

.chosen {
  background-color: #7c7c7c;
}

.correct {
  background-color: #00fd98;
}

.incorrect {
  background-color: #702d43;
}
