.wrapper {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  background-color: #333333;
  font-size: 16px;
  line-height: 0.99;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chosen {
  background-color: #7c7c7c;
}

.correct {
  background-color: #46ca46;
}

.incorrect {
  background-color: #702d43;
}
