.wrapper {
  font-size: 23px;
  line-height: 0.9;
  text-align: right;
  margin-top: 50px;
}

.some_number {
  font-family: Teko, sans-serif;
  font-size: 1em;
  font-weight: 200;
  margin: 0 10px 0 0;
}

.name {
  font-size: 1em; /* 16px */
  font-weight: 600;
  font-style: italic;
}

.multiplier {
  font-size: 1.5em; /* 24px */
  font-weight: 1000;
  margin: 0 15px 0 0;
  font-style: italic;
}