.wrapper {
  font-size: 23px;
  line-height: 0.9;
  text-align: right;
  margin-top: 50px;
}

.some_number {
  font-family: Teko, sans-serif;
  font-size: 0.75em; /* 12px от 16px */
  font-weight: 200;
  margin: 0 10px 0 0;
}

.name {
  font-size: 1em; /* 16px */
  font-weight: 400;
  font-style: italic;
}

.multiplier {
  font-size: 1.5em; /* 24px */
  font-weight: 800;
  margin: 0 15px 0 0;
  font-style: italic;
}