.wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  z-index: 5;
}

.wrapper > *:nth-child(1) {
  position: absolute;
  top: 47px;
  left: 75px;
}

.wrapper > *:nth-child(2) {
  position: absolute;
  top: 84px;
  left: 10px;
}

.wrapper > *:nth-child(3) {
  position: absolute;
  top: 10px;
  left: 10px;
  //transform: translateX(-50%);
}
